.slider-wrapper {
  width: 600px;
  margin: 0 auto;
  position: relative;
  
}

.slider-container {
  
  overflow: hidden;
}

.slider-box {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 auto;
  width: 600px;
  margin-right: 10px;
}

.slide img {
  width: 100%;
  height: auto;
}


.slide p {
  margin-top: 5px;
  text-align: center;
}

.next-items-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0px; 
}

.next-item {
  width: 115px; 
}

.next-item img {
  width: 100%;
  height: auto;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #b01038;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.prev {
  left: -35px;
}

.next {
  right: -35px; 
}

button:disabled {
  background-color: #cccccc;
  color: #666666;
}
